extends BaseEmailTemp

block main
  tbody
    tr
      td.wrapper
        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
          tbody
            tr
              td
                p Forgot your password? Let's get you a new one.
                p We got a request to change the password for the account with the email:
                  span.email #{email}. 
                p If you don't want to reset your password, you can ignore this email.
                table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    tr
                      td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                          tbody
                            tr
                              a(href=`${url}`, target='_blank') Reset Password
                p If you need any help, please don't hesitate to contact us!

