extends Base
block content
     main.main
          .login-form
               h2.heading-secondary.ma-bt-lg Create New Account
               form.form#singup-form(novalidate)
                    .form__group
                         label.form__label(for='name') Your Name
                         input.form__input#name(type='text', placeholder='Jone Deo', required name="name")
                    .form__group
                         label.form__label(for='email') Email address
                         input#email.form__input(type='email', placeholder='you@example.com', required name="email")
                    .form__group.ma-bt-md
                         label.form__label(for='password') Password
                         input#password.form__input(type='password', placeholder='••••••••', required, minlength='8' name="password")
                    .form__group.ma-bt-md
                         label.form__label(for='password') Confirm Password
                         input#confirm-password.form__input(type='password', placeholder='••••••••', required, minlength='8' name="confirm-password")
                    .form__group
                         button.btn.btn--green Sing up
               
block script
     script(src="/js/singup.js")